<form action="/players/new" method="POST">
<h3>Name: <input type="text" name="player[name]" id="player_name"></h3>

<h3>Position: <select name="player[position]">
    <option value="FWD">FWD</option>
    <option value="MID">MID</option>
    <option value="DEF">DEF</option>
    <option value="GK">GK</option>
</select>

<h3>Number: <input type="integer" name="player[number]" id="position"></h3>

<h3>Country: </h3>
<h4>Choose existing -><%Country.all.each do |country|%>
    <select id="<%= country.id %>" name="player[country_id]"><option value="<%= country.id%>"><%= country.name %></option></select>
    <%end%>
    <label>OR add a new country by name:</label>
        <input type="text" name="country[name]"></input>
    <br></br>
<input type="submit" value="Add Player" id="submit">
</form>
