<body>
        <h1>Welcome to Soccer Team Manager</h1>
        <br>
        <h3>Manage a <a href='/login'>Current Team</a></h3>
        <h3>Create a <a href='/signup'>New Team</a></h3>
    </body>
</html>
